/* Variables :::::::: */

:root {
	--gutter : 1.5rem;
}

/* Réinitialisations :::::::::: */
* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

* + :is(p, hr, ul, h1, h2, h3, h4, h5, h6) {
	margin-top: var(--gutter);
}

* + li {
	margin-top: calc(var(--spacing-default) * 0.7); }

img {
	max-width: 100%;
	display: block;

	object-fit: cover;
}


main {
	width: 60%;
	max-width: 60ch;

	
}

.details {
	border: 2px solid black;
}

.arrow-icon {
	float: right;

	display: block;
	transform: rotate(90deg);

	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-in;
}

.arrow-toggle:checked ~ .arrow-icon {
	transform: rotate(0deg);
}


.arrow-icon > img {
	width: 40px;
}

.details > dl {
	max-height: 0;
	overflow: hidden;

	transition-property: max-height;
	transition-duration: 300ms;
	transition-timing-function: ease-in;
}

.arrow-toggle:checked ~ dl {
	max-height: 200px;
}



/* Utilitaires :::::::: */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }