/* Réinitialisations  :::::::::: */
ol,
ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Arrière-plan personnalisé selon la priorité */
.taskPriority1 {
	background-color: rgba(0, 58, 10, 0.11);
}

.taskPriority2 {
	background-color: rgba(81, 90, 3, 0.11);
}

.taskPriority3 {
	background-color: rgba(58, 0, 0, 0.11);
}

.block-shadowy {
	box-shadow:
			1px 1px 2px 0px hsla(0, 0%, 0%, .2),
			0px 1px 2px 0px hsla(0, 0%, 0%, .1),
			-1px 2px 2px 0px hsla(0, 0%, 0%, .1);
}

/* Gestion des erreurs */
:-moz-ui-invalid {
	box-shadow: none;
}

.error {
	color: rgb(202, 16, 16);
}

.error-input {
	box-shadow: 0 0 2px 1px rgb(185, 0, 0);
}